<h1>Department Edit</h1>

<%= render 'form', department: @department %>

<% if @department.errors.any? %>
  <% @department.errors.full_messages.each do |message|%>
  <p><%= message %></p>
  <%end%>
<%end%>
