<h1>Department Show</h1>

<p>Department ID: <%= @department.id %></p>/
<p>Department Name: <%= @department.name %></p>/
<p>Department Abbreviation: <%= @department.abbreviation %></p>

<%= link_to "Edit", edit_department_path %>
